<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.PostgreSQL9Dialect
        </property>

        <property name = "hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>

        <property name = "hibernate.connection.url">
            jdbc:postgresql://sxterm.mat.umk.pl/
        </property>

        <property name = "hibernate.connection.username">
            mgorski
        </property>

        <property name = "hibernate.connection.password">
            Damoria12.,mn
        </property>

        <!-- List of XML mapping files -->
        <mapping resource = "Employee.hbm.xml"/>
        <mapping class = "prj.entity.User"/>
        <mapping class = "prj.entity.Item"/>

    </session-factory>
</hibernate-configuration>